body{
    margin: 1em;
    padding-bottom: 1em;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-image: url('monitor.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.container {
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%);   
    position: relative;
    background-color: #140083;
    width: 70%;
    padding: 3rem;
    border-radius: 50px;
}

.linha {
    margin: 1em;
    display: flex;
    width: 100%;
}

.campo{
    flex: auto;
    width: 100%;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
    color: white;
    font-weight: bold;
}

input, select {
    border: none;
    cursor: text;
    padding: 0.5em;
    font-size: 0.92em;
    display: block;
    width: 90%;
}

button {
    width: 60%;
    height: 3em;
    background-color:  #e65b0be0;
    padding: 0.5em;
    font: 1em sans-serif;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}